# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [267]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [268]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [269]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [270]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [271]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT','SPECIAL_CONSIDERATIONS']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [272]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [273]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [274]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [275]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df, encoded_df], axis=1).drop(columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT','SPECIAL_CONSIDERATIONS'])

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [276]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [277]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [278]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [279]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [280]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [281]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [282]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  16

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

16

In [283]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 12

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

12

In [284]:
# Create the Sequential model instance
nn = Sequential()

In [285]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

In [286]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu', input_dim=number_input_features))

In [287]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation='relu'))

In [288]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_22"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_74 (Dense)             (None, 16)                1872
_________________________________________________________________
dense_75 (Dense)             (None, 12)                204
_________________________________________________________________
dense_76 (Dense)             (None, 1)                 13
=================================================================
Total params: 2,089
Trainable params: 2,089
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [289]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [290]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 762us/step - loss: 1.3123 - accuracy: 0.6113
Epoch 2/50
804/804 [==============================] - 1s 830us/step - loss: 0.8909 - accuracy: 0.7073
Epoch 3/50
804/804 [==============================] - 1s 713us/step - loss: 0.7487 - accuracy: 0.7106
Epoch 4/50
804/804 [==============================] - 1s 988us/step - loss: 0.7090 - accuracy: 0.7164
Epoch 5/50
804/804 [==============================] - 1s 885us/step - loss: 0.6893 - accuracy: 0.7207
Epoch 6/50
804/804 [==============================] - 1s 746us/step - loss: 0.6932 - accuracy: 0.7143
Epoch 7/50
804/804 [==============================] - 1s 636us/step - loss: 0.6796 - accuracy: 0.7147
Epoch 8/50
804/804 [==============================] - 0s 614us/step - loss: 0.6971 - accuracy: 0.7129
Epoch 9/50
804/804 [==============================] - 0s 567us/step - loss: 0.6804 - accuracy: 0.7179
Epoch 10/50
804/804 [==============================] - 0s 619us/step - loss: 0.7082 - accuracy: 0.7096
Epoch 11/50
804/804 [==============================] - 1s 635us/step - loss: 0.6804 - accuracy: 0.7237
Epoch 12/50
804/804 [==============================] - 0s 609us/step - loss: 0.6675 - accuracy: 0.7253
Epoch 13/50
804/804 [==============================] - 0s 609us/step - loss: 0.6631 - accuracy: 0.7257
Epoch 14/50
804/804 [==============================] - 0s 615us/step - loss: 0.6691 - accuracy: 0.7285
Epoch 15/50
804/804 [==============================] - 1s 622us/step - loss: 0.6407 - accuracy: 0.7264
Epoch 16/50
804/804 [==============================] - 1s 655us/step - loss: 0.6384 - accuracy: 0.7219
Epoch 17/50
804/804 [==============================] - 0s 615us/step - loss: 0.6474 - accuracy: 0.7236
Epoch 18/50
804/804 [==============================] - 1s 647us/step - loss: 0.6351 - accuracy: 0.7245
Epoch 19/50
804/804 [==============================] - 1s 656us/step - loss: 0.6312 - accuracy: 0.7286
Epoch 20/50
804/804 [==============================] - 0s 619us/step - loss: 0.6524 - accuracy: 0.7278
Epoch 21/50
804/804 [==============================] - 1s 630us/step - loss: 0.6398 - accuracy: 0.7310
Epoch 22/50
804/804 [==============================] - 0s 601us/step - loss: 0.6437 - accuracy: 0.7304
Epoch 23/50
804/804 [==============================] - 0s 611us/step - loss: 0.6695 - accuracy: 0.7205
Epoch 24/50
804/804 [==============================] - 0s 608us/step - loss: 0.6454 - accuracy: 0.7280
Epoch 25/50
804/804 [==============================] - 0s 610us/step - loss: 0.6204 - accuracy: 0.7276
Epoch 26/50
804/804 [==============================] - 0s 601us/step - loss: 0.6275 - accuracy: 0.7282
Epoch 27/50
804/804 [==============================] - 1s 622us/step - loss: 0.6295 - accuracy: 0.7304
Epoch 28/50
804/804 [==============================] - 0s 612us/step - loss: 0.6306 - accuracy: 0.7311
Epoch 29/50
804/804 [==============================] - 0s 614us/step - loss: 0.6349 - accuracy: 0.7311
Epoch 30/50
804/804 [==============================] - 0s 620us/step - loss: 0.6339 - accuracy: 0.7304
Epoch 31/50
804/804 [==============================] - 1s 635us/step - loss: 0.6302 - accuracy: 0.7299
Epoch 32/50
804/804 [==============================] - 0s 611us/step - loss: 0.6361 - accuracy: 0.7290
Epoch 33/50
804/804 [==============================] - 0s 603us/step - loss: 0.6110 - accuracy: 0.7329
Epoch 34/50
804/804 [==============================] - 0s 600us/step - loss: 0.5978 - accuracy: 0.7326
Epoch 35/50
804/804 [==============================] - 1s 628us/step - loss: 0.6131 - accuracy: 0.7271
Epoch 36/50
804/804 [==============================] - 0s 619us/step - loss: 0.6168 - accuracy: 0.7275
Epoch 37/50
804/804 [==============================] - 1s 649us/step - loss: 0.6082 - accuracy: 0.7303
Epoch 38/50
804/804 [==============================] - 0s 614us/step - loss: 0.6093 - accuracy: 0.7292
Epoch 39/50
804/804 [==============================] - 0s 606us/step - loss: 0.6081 - accuracy: 0.7308
Epoch 40/50
804/804 [==============================] - 0s 607us/step - loss: 0.6103 - accuracy: 0.7310
Epoch 41/50
804/804 [==============================] - 1s 638us/step - loss: 0.6272 - accuracy: 0.7294
Epoch 42/50
804/804 [==============================] - 0s 604us/step - loss: 0.6143 - accuracy: 0.7301
Epoch 43/50
804/804 [==============================] - 0s 606us/step - loss: 0.6096 - accuracy: 0.7314
Epoch 44/50
804/804 [==============================] - 0s 616us/step - loss: 0.6174 - accuracy: 0.7300
Epoch 45/50
804/804 [==============================] - 1s 649us/step - loss: 0.6146 - accuracy: 0.7286
Epoch 46/50
804/804 [==============================] - 1s 624us/step - loss: 0.6157 - accuracy: 0.7289
Epoch 47/50
804/804 [==============================] - 0s 615us/step - loss: 0.6167 - accuracy: 0.7295
Epoch 48/50
804/804 [==============================] - 1s 631us/step - loss: 0.6149 - accuracy: 0.7318
Epoch 49/50
804/804 [==============================] - 1s 625us/step - loss: 0.6093 - accuracy: 0.7331
Epoch 50/50
804/804 [==============================] - 0s 617us/step - loss: 0.6117 - accuracy: 0.7317

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [291]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6414 - accuracy: 0.7284
Loss: 0.6414250731468201, Accuracy: 0.728396475315094

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [292]:
# Set the model's file path
file_path = '../Model_Folder/AlphabetSoup.h5'

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [293]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [294]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [295]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 28

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

28

In [296]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = 8

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

8

In [297]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [298]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="linear"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_23"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_77 (Dense)             (None, 28)                3276
_________________________________________________________________
dense_78 (Dense)             (None, 8)                 232
_________________________________________________________________
dense_79 (Dense)             (None, 1)                 9
=================================================================
Total params: 3,517
Trainable params: 3,517
Non-trainable params: 0
_________________________________________________________________

In [299]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [300]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 779us/step - loss: 1.6643 - accuracy: 0.6261
Epoch 2/50
804/804 [==============================] - 1s 711us/step - loss: 0.9059 - accuracy: 0.7028
Epoch 3/50
804/804 [==============================] - 1s 682us/step - loss: 0.8162 - accuracy: 0.7152
Epoch 4/50
804/804 [==============================] - 1s 780us/step - loss: 0.7786 - accuracy: 0.7169
Epoch 5/50
804/804 [==============================] - 1s 656us/step - loss: 0.7826 - accuracy: 0.7158
Epoch 6/50
804/804 [==============================] - 1s 639us/step - loss: 0.7746 - accuracy: 0.7226
Epoch 7/50
804/804 [==============================] - 1s 645us/step - loss: 0.7801 - accuracy: 0.7206
Epoch 8/50
804/804 [==============================] - 1s 637us/step - loss: 0.7776 - accuracy: 0.7232
Epoch 9/50
804/804 [==============================] - 1s 690us/step - loss: 0.7314 - accuracy: 0.7181
Epoch 10/50
804/804 [==============================] - 1s 653us/step - loss: 0.7077 - accuracy: 0.7264
Epoch 11/50
804/804 [==============================] - 1s 672us/step - loss: 0.7139 - accuracy: 0.7273
Epoch 12/50
804/804 [==============================] - 1s 669us/step - loss: 0.7244 - accuracy: 0.7266
Epoch 13/50
804/804 [==============================] - 1s 684us/step - loss: 0.7066 - accuracy: 0.7270
Epoch 14/50
804/804 [==============================] - 1s 660us/step - loss: 0.7025 - accuracy: 0.7274
Epoch 15/50
804/804 [==============================] - 1s 656us/step - loss: 0.6821 - accuracy: 0.7261
Epoch 16/50
804/804 [==============================] - 1s 634us/step - loss: 0.6876 - accuracy: 0.7275
Epoch 17/50
804/804 [==============================] - 1s 636us/step - loss: 0.6671 - accuracy: 0.7300
Epoch 18/50
804/804 [==============================] - 1s 649us/step - loss: 0.6673 - accuracy: 0.7303
Epoch 19/50
804/804 [==============================] - 1s 660us/step - loss: 0.6668 - accuracy: 0.7317
Epoch 20/50
804/804 [==============================] - 1s 714us/step - loss: 0.6591 - accuracy: 0.7324
Epoch 21/50
804/804 [==============================] - 1s 642us/step - loss: 0.6545 - accuracy: 0.7307
Epoch 22/50
804/804 [==============================] - 1s 718us/step - loss: 0.6428 - accuracy: 0.7334
Epoch 23/50
804/804 [==============================] - 1s 664us/step - loss: 0.6473 - accuracy: 0.7313
Epoch 24/50
804/804 [==============================] - 1s 700us/step - loss: 0.6468 - accuracy: 0.7207
Epoch 25/50
804/804 [==============================] - 1s 650us/step - loss: 0.6383 - accuracy: 0.7302
Epoch 26/50
804/804 [==============================] - 1s 665us/step - loss: 0.6379 - accuracy: 0.7319
Epoch 27/50
804/804 [==============================] - 1s 674us/step - loss: 0.6340 - accuracy: 0.7316
Epoch 28/50
804/804 [==============================] - 1s 664us/step - loss: 0.6328 - accuracy: 0.7330
Epoch 29/50
804/804 [==============================] - 1s 673us/step - loss: 0.6282 - accuracy: 0.7331
Epoch 30/50
804/804 [==============================] - 1s 654us/step - loss: 0.6259 - accuracy: 0.7331
Epoch 31/50
804/804 [==============================] - 1s 721us/step - loss: 0.6222 - accuracy: 0.7338
Epoch 32/50
804/804 [==============================] - 1s 635us/step - loss: 0.6213 - accuracy: 0.7332
Epoch 33/50
804/804 [==============================] - 1s 640us/step - loss: 0.6238 - accuracy: 0.7296
Epoch 34/50
804/804 [==============================] - 1s 646us/step - loss: 0.6264 - accuracy: 0.7328
Epoch 35/50
804/804 [==============================] - 1s 633us/step - loss: 0.6209 - accuracy: 0.7330
Epoch 36/50
804/804 [==============================] - 1s 630us/step - loss: 0.6132 - accuracy: 0.7327
Epoch 37/50
804/804 [==============================] - 1s 688us/step - loss: 0.6174 - accuracy: 0.7315
Epoch 38/50
804/804 [==============================] - 1s 651us/step - loss: 0.6167 - accuracy: 0.7352
Epoch 39/50
804/804 [==============================] - 1s 632us/step - loss: 0.6146 - accuracy: 0.7332
Epoch 40/50
804/804 [==============================] - 1s 630us/step - loss: 0.6237 - accuracy: 0.7319
Epoch 41/50
804/804 [==============================] - 1s 649us/step - loss: 0.6198 - accuracy: 0.7329
Epoch 42/50
804/804 [==============================] - 1s 668us/step - loss: 0.6149 - accuracy: 0.7323
Epoch 43/50
804/804 [==============================] - 1s 640us/step - loss: 0.6242 - accuracy: 0.7288
Epoch 44/50
804/804 [==============================] - 1s 647us/step - loss: 0.6220 - accuracy: 0.7335
Epoch 45/50
804/804 [==============================] - 1s 656us/step - loss: 0.6160 - accuracy: 0.7330
Epoch 46/50
804/804 [==============================] - 1s 789us/step - loss: 0.6151 - accuracy: 0.7341
Epoch 47/50
804/804 [==============================] - 1s 765us/step - loss: 0.6148 - accuracy: 0.7339
Epoch 48/50
804/804 [==============================] - 1s 666us/step - loss: 0.6158 - accuracy: 0.7348
Epoch 49/50
804/804 [==============================] - 1s 628us/step - loss: 0.6130 - accuracy: 0.7355
Epoch 50/50
804/804 [==============================] - 1s 632us/step - loss: 0.6119 - accuracy: 0.7358

#### Alternative Model 2

In [301]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [302]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [303]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 40

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

40

In [304]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A2 = 14

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

14

In [305]:
# # Define the number of hidden nodes for the first hidden layer
# hidden_nodes_layer3_A2 = 4

# # Review the number of hidden nodes in the first layer
# hidden_nodes_layer3_A2

In [306]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [307]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Third hidden layer
# nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_24"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_80 (Dense)             (None, 40)                4680
_________________________________________________________________
dense_81 (Dense)             (None, 14)                574
_________________________________________________________________
dense_82 (Dense)             (None, 1)                 15
=================================================================
Total params: 5,269
Trainable params: 5,269
Non-trainable params: 0
_________________________________________________________________

In [308]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [309]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 625us/step - loss: 1.4242 - accuracy: 0.6763
Epoch 2/50
804/804 [==============================] - 0s 608us/step - loss: 1.0380 - accuracy: 0.6996
Epoch 3/50
804/804 [==============================] - 0s 609us/step - loss: 1.1184 - accuracy: 0.6978
Epoch 4/50
804/804 [==============================] - 0s 610us/step - loss: 1.0076 - accuracy: 0.7136
Epoch 5/50
804/804 [==============================] - 0s 609us/step - loss: 1.0206 - accuracy: 0.7110
Epoch 6/50
804/804 [==============================] - 0s 608us/step - loss: 1.0224 - accuracy: 0.7148
Epoch 7/50
804/804 [==============================] - 1s 653us/step - loss: 1.0420 - accuracy: 0.7147
Epoch 8/50
804/804 [==============================] - 1s 682us/step - loss: 1.0318 - accuracy: 0.7162
Epoch 9/50
804/804 [==============================] - 1s 657us/step - loss: 1.0046 - accuracy: 0.7028
Epoch 10/50
804/804 [==============================] - 1s 657us/step - loss: 0.8850 - accuracy: 0.7197
Epoch 11/50
804/804 [==============================] - 1s 708us/step - loss: 0.8633 - accuracy: 0.7225
Epoch 12/50
804/804 [==============================] - 1s 712us/step - loss: 0.8758 - accuracy: 0.7199
Epoch 13/50
804/804 [==============================] - 1s 660us/step - loss: 0.8332 - accuracy: 0.7171
Epoch 14/50
804/804 [==============================] - 1s 656us/step - loss: 0.7919 - accuracy: 0.7248
Epoch 15/50
804/804 [==============================] - 1s 652us/step - loss: 0.7688 - accuracy: 0.7257
Epoch 16/50
804/804 [==============================] - 1s 649us/step - loss: 0.7833 - accuracy: 0.7238
Epoch 17/50
804/804 [==============================] - 1s 660us/step - loss: 0.7773 - accuracy: 0.7287
Epoch 18/50
804/804 [==============================] - 1s 638us/step - loss: 0.7757 - accuracy: 0.7281
Epoch 19/50
804/804 [==============================] - 1s 678us/step - loss: 0.7836 - accuracy: 0.7210
Epoch 20/50
804/804 [==============================] - 1s 699us/step - loss: 0.7726 - accuracy: 0.7256
Epoch 21/50
804/804 [==============================] - 1s 681us/step - loss: 0.7342 - accuracy: 0.7264
Epoch 22/50
804/804 [==============================] - 1s 679us/step - loss: 0.7137 - accuracy: 0.7257
Epoch 23/50
804/804 [==============================] - 1s 689us/step - loss: 0.7056 - accuracy: 0.7274
Epoch 24/50
804/804 [==============================] - 1s 661us/step - loss: 0.6949 - accuracy: 0.7280
Epoch 25/50
804/804 [==============================] - 1s 662us/step - loss: 0.6903 - accuracy: 0.7296
Epoch 26/50
804/804 [==============================] - 1s 643us/step - loss: 0.7002 - accuracy: 0.7261
Epoch 27/50
804/804 [==============================] - 1s 670us/step - loss: 0.6924 - accuracy: 0.7259
Epoch 28/50
804/804 [==============================] - 1s 663us/step - loss: 0.6955 - accuracy: 0.7211
Epoch 29/50
804/804 [==============================] - 1s 647us/step - loss: 0.6782 - accuracy: 0.7281
Epoch 30/50
804/804 [==============================] - 1s 649us/step - loss: 0.6381 - accuracy: 0.7287
Epoch 31/50
804/804 [==============================] - 1s 667us/step - loss: 0.6193 - accuracy: 0.7315
Epoch 32/50
804/804 [==============================] - 1s 684us/step - loss: 0.6096 - accuracy: 0.7299
Epoch 33/50
804/804 [==============================] - 1s 666us/step - loss: 0.6080 - accuracy: 0.7334
Epoch 34/50
804/804 [==============================] - 1s 666us/step - loss: 0.6192 - accuracy: 0.7314
Epoch 35/50
804/804 [==============================] - 1s 661us/step - loss: 0.6083 - accuracy: 0.7322
Epoch 36/50
804/804 [==============================] - 1s 649us/step - loss: 0.6105 - accuracy: 0.7292
Epoch 37/50
804/804 [==============================] - 1s 652us/step - loss: 0.6150 - accuracy: 0.7294
Epoch 38/50
804/804 [==============================] - 1s 656us/step - loss: 0.6100 - accuracy: 0.7341
Epoch 39/50
804/804 [==============================] - 1s 644us/step - loss: 0.6171 - accuracy: 0.7311
Epoch 40/50
804/804 [==============================] - 1s 654us/step - loss: 0.6223 - accuracy: 0.7327
Epoch 41/50
804/804 [==============================] - 1s 649us/step - loss: 0.6014 - accuracy: 0.7292
Epoch 42/50
804/804 [==============================] - 1s 666us/step - loss: 0.5931 - accuracy: 0.7294
Epoch 43/50
804/804 [==============================] - 1s 671us/step - loss: 0.5996 - accuracy: 0.7326
Epoch 44/50
804/804 [==============================] - 1s 688us/step - loss: 0.5986 - accuracy: 0.7282
Epoch 45/50
804/804 [==============================] - 1s 668us/step - loss: 0.5965 - accuracy: 0.7361
Epoch 46/50
804/804 [==============================] - 1s 649us/step - loss: 0.5950 - accuracy: 0.7338
Epoch 47/50
804/804 [==============================] - 1s 641us/step - loss: 0.5934 - accuracy: 0.7353
Epoch 48/50
804/804 [==============================] - 1s 659us/step - loss: 0.5965 - accuracy: 0.7344
Epoch 49/50
804/804 [==============================] - 1s 659us/step - loss: 0.5904 - accuracy: 0.7357
Epoch 50/50
804/804 [==============================] - 1s 664us/step - loss: 0.6077 - accuracy: 0.7265

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [310]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6414 - accuracy: 0.7284
Loss: 0.6414250731468201, Accuracy: 0.728396475315094

In [311]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6249 - accuracy: 0.7280
Loss: 0.6248656511306763, Accuracy: 0.7280466556549072

In [312]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6025 - accuracy: 0.7268
Loss: 0.6025182008743286, Accuracy: 0.7267638444900513

### Step 3: Save each of your alternative models as an HDF5 file.

In [313]:
# Set the file path for the first alternative model
file_path = '../Model_Folder/AlphabetSoup_1.h5'

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [314]:
# Set the file path for the second alternative model
file_path = '../Model_Folder/AlphabetSoup_2.h5'

# Export your model to a HDF5 file
nn_A2.save(file_path)